<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @filme.nome %>
</p>

<p>
  <strong>Gênero:</strong>
  <%= @filme.genero %>
</p>

<p>
  <strong>Preço:</strong>
  <%= @filme.preco %>
</p>

<%= link_to 'Editar', edit_filme_path(@filme) %> |
<%= link_to 'Voltar', filmes_path %>
